openapi: 3.0.3
info:
  title: Profile Service Monitoring API
  description: |
    Monitoring API for the Profile Service Microservices architecture.
    This API provides endpoints for monitoring service health, metrics, and logs.
  version: 1.0.0
  contact:
    name: API Support
    email: support@profileservice.com

servers:
  - url: https://monitoring.profileservice.com/v1
    description: Production server
  - url: https://staging-monitoring.profileservice.com/v1
    description: Staging server

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token for API authentication
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: API key for service-to-service authentication

  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
          description: Error message

    HealthStatus:
      type: object
      required:
        - status
        - version
        - timestamp
      properties:
        status:
          type: string
          enum: [healthy, degraded, unhealthy]
          description: Service health status
        version:
          type: string
          description: Service version
        timestamp:
          type: string
          format: date-time
          description: Status check timestamp
        details:
          type: object
          description: Additional health check details
          properties:
            database:
              type: string
              enum: [healthy, degraded, unhealthy]
            cache:
              type: string
              enum: [healthy, degraded, unhealthy]
            event_bus:
              type: string
              enum: [healthy, degraded, unhealthy]

    Metric:
      type: object
      required:
        - name
        - value
        - timestamp
      properties:
        name:
          type: string
          description: Metric name
        value:
          type: number
          description: Metric value
        timestamp:
          type: string
          format: date-time
          description: Metric timestamp
        labels:
          type: object
          description: Metric labels
          additionalProperties:
            type: string

    MetricQuery:
      type: object
      required:
        - name
        - start_time
        - end_time
      properties:
        name:
          type: string
          description: Metric name to query
        start_time:
          type: string
          format: date-time
          description: Query start time
        end_time:
          type: string
          format: date-time
          description: Query end time
        interval:
          type: string
          description: Query interval (e.g., "1m", "5m", "1h")
        labels:
          type: object
          description: Metric labels to filter by
          additionalProperties:
            type: string

    LogEntry:
      type: object
      required:
        - level
        - message
        - timestamp
      properties:
        level:
          type: string
          enum: [debug, info, warn, error]
          description: Log level
        message:
          type: string
          description: Log message
        timestamp:
          type: string
          format: date-time
          description: Log timestamp
        service:
          type: string
          description: Service name
        trace_id:
          type: string
          description: Trace ID for request tracking
        fields:
          type: object
          description: Additional log fields
          additionalProperties:
            type: string

    LogQuery:
      type: object
      required:
        - start_time
        - end_time
      properties:
        start_time:
          type: string
          format: date-time
          description: Query start time
        end_time:
          type: string
          format: date-time
          description: Query end time
        level:
          type: string
          enum: [debug, info, warn, error]
          description: Log level to filter by
        service:
          type: string
          description: Service name to filter by
        trace_id:
          type: string
          description: Trace ID to filter by
        message:
          type: string
          description: Message pattern to search for

paths:
  /health:
    get:
      summary: Health check
      description: Check the health status of all services
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Health status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthStatus"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /metrics:
    get:
      summary: List metrics
      description: Get available metrics
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: List of available metrics
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

    post:
      summary: Query metrics
      description: Query metrics with filters
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MetricQuery"
      responses:
        "200":
          description: Metric values
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Metric"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /logs:
    post:
      summary: Query logs
      description: Query logs with filters
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LogQuery"
      responses:
        "200":
          description: Log entries
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/LogEntry"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /alerts:
    get:
      summary: List alerts
      description: Get active alerts
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: List of active alerts
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  required:
                    - id
                    - name
                    - severity
                    - status
                  properties:
                    id:
                      type: string
                      format: uuid
                    name:
                      type: string
                    severity:
                      type: string
                      enum: [info, warning, critical]
                    status:
                      type: string
                      enum: [firing, resolved]
                    description:
                      type: string
                    created_at:
                      type: string
                      format: date-time
                    updated_at:
                      type: string
                      format: date-time
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /traces:
    get:
      summary: Get trace
      description: Get trace information by ID
      security:
        - ApiKeyAuth: []
      parameters:
        - name: trace_id
          in: query
          required: true
          schema:
            type: string
          description: Trace ID
      responses:
        "200":
          description: Trace information
          content:
            application/json:
              schema:
                type: object
                required:
                  - trace_id
                  - spans
                properties:
                  trace_id:
                    type: string
                  spans:
                    type: array
                    items:
                      type: object
                      required:
                        - span_id
                        - name
                        - start_time
                        - end_time
                      properties:
                        span_id:
                          type: string
                        name:
                          type: string
                        start_time:
                          type: string
                          format: date-time
                        end_time:
                          type: string
                          format: date-time
                        attributes:
                          type: object
                          additionalProperties:
                            type: string
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Trace not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
